{% extends "index.jinja2" %}

{% block content %}
<div class="product__wrapper">
  <form action="/result" method="POST">
    {% for product in products %}
    <div class="product__item">
      <p class="product__name">{{product.name}}</p>
      <div class="product__img"><img src="../static/img/{{product.image_src}}" width="100"></div>
      <p class="product__price">Цена: {{product.price}} руб.</p>
      {% if bin != None and product.name in bin.products %}
        <button type="submit" class="product__btn_add" name="add" value="{{product.name}}" formaction="/" disabled>Добавить</button>
        <button type="submit" class="product__btn_rm" name="remove" value="{{product.name}}" formaction="/" >Удалить</button>
      {% else %}
        <button type="submit" class="product__btn_add" name="add" value="{{product.name}}" formaction="/">Добавить</button>
        <button type="submit" class="product__btn_rm" name="remove" value="{{product.name}}" formaction="/" disabled>Удалить</button>
      {% endif %}
    </div>
    {% endfor %}
    <div class="delivery-info">
        <p><input type="text" name="name" placeholder="Введите Ваше имя"></p>
        <p><input type="text" name="phone" placeholder="Введите Ваш номер телефона"></p>
    </div>
    <input type="submit" value="Заказать">
  </form>
</div>
{% endblock content %}