{% extends "index.jinja2" %}

{% block css %}
<link rel="stylesheet" href="../static/css/main.css">{% endblock css %}

{% block content %}
<div class="product__wrapper">
  <h2>Товары</h2>
  <form action="/result" method="POST">
    <div class="product__goods">
      {% for product in products %}
      <div class="product__item">
        <p class="product__name">{{product.name}}</p>
        <div class="product__img"><img src="../static/img/{{product.image_src}}" width="150"></div>
        <p class="product__price">Цена: {{product.price}} руб.</p>
        {% if bin != None and product.name in bin.products %}
        <button type="submit" class="product__btn_add" name="add" value="{{product.name}}" formaction="/"
          disabled>Добавить</button>
        <button type="submit" class="product__btn_rm" name="remove" value="{{product.name}}"
          formaction="/">Удалить</button>
        {% else %}
        <button type="submit" class="product__btn_add" name="add" value="{{product.name}}"
          formaction="/">Добавить</button>
        <button type="submit" class="product__btn_rm" name="remove" value="{{product.name}}" formaction="/"
          disabled>Удалить</button>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="product__customer-info">
      <h2>Оформление заказа</h2>
      <p><input type="text" name="name" placeholder="Введите Ваше имя"></p>
      <p><input type="text" name="phone" placeholder="Введите Ваш номер телефона"></p>
      <input type="submit" value="Заказать">
    </div>
  </form>
</div>
{% endblock content %}

{% block js %}<script src="../static/js/buttonChecker.js"></script>{% endblock js %}