{% block content %}
<div class="orders">
    <h1>Наши магазины</h1>
      {% for record in info %}
        <h3>{{ record.name }}</h3>
        <p>{{ record.adr }}</p>
        <a href={{ record.link }}> смотреть на карте </a>
      {% endfor %}
</div>
{% endblock content %}